@{
    ViewData["Title"] = "Index";
}

<a href='@Url.Action("AgregarForm")'><button> Agregar Candidato</button></a>
<a href='@Url.Action("borrarCandidato")'><button> Eliminar Candidato</button></a>

@foreach (Partido item in ViewBag.Partidos)
{
    <a href='@Url.Action(@item.Nombre)'>
        <h2>@item.Nombre</h2>

        <img src=@item.Logo alt=@item.Nombre/>

        <div>
            <h5>Cantidad de diputados: @item.CantidadDiputados</h5>
            <h5>Cantidad de senadores: @item.CantidadSenadores</h5>
        </div>
        
        <span><a href=@item.SitioWeb>Ver sitio web</a></span>
    </a>
}
