<h1>Candidatos de Juntos</h1>

<a href='@Url.Action("AgregarForm", new {partido="Juntos"})'><button> Agregar Candidato</button></a>

<div class="candidatos">
@foreach (Candidato c in ViewBag.Candidatos)
{
    if (c.IdPartido == 2)
    {
        <div class="carta">
            <h3 class="carta__titulo">@c.Nombre @c.Apellido</h3>

            <div class="carta__cuerpo">
                <img src=@c.Foto alt=@c.Apellido>
                <p>@c.Postulacion</p>
            </div>

            <button><a href='@Url.Action("detalleCandidato", new {IdCandidato = c.IdCandidato})'>Ver candidato</a></button>
            <a href='@Url.Action("BorrarCandidato", new {IdCandidato = c.IdCandidato})'><i class="fa-solid fa-x candidato__borrar"></i></a>

        </div>
    }
}
</div>